{% extends 'app/index.html' %}
{% load static %}

{% block head %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <meta name="description" content="Diego Guerrero a.k.a. DIIG es pythonista de corazón, estudiante de desarrollo backend con django e intelgencia artificial con TensorFlow en Platzi. También es DJ de géneros cómo: Techno, House o elektro y también estudia producción músical de manera autodidacta.">
  
  <meta name="robots" content="index, follow">
  <title>Galeria de Posts</title>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/home.css'%}" rel="stylesheet">
</head>
{% endblock head %}

{% block body %}
<body>
{% endblock body %}

{% block contenido %}
<main class="escrito-gallery-main">
    {% if ultimate_post %}
    <section class="escrito-gallery-news-container">
        <div class="grid-container escrito-gallery-new">
            <h3>Ultima Publicación</h3>
            <div class="escrito-gallery-img-container">
                <img src="{{ultimate_post.image.url}}" alt="imagen de post">
            </div>
            <div class="escrito-gallery-news-info-container">
                <h2>{{ultimate_post.title}}</h2>
                <p>{{ultimate_post.description}}</p>
                <button class="escrito-gallery-buttons" style="margin-left: 10px;">
                    <a href="{% url 'Escrito:post_escrito' ultimate_post.slug %}">Leer</a>
                </button>
            </div>
        </div>
    </section>
    {% endif %}
    <section class="escrito-gallery-posts-container">
        <div class="grid-container">
            <h3>Publicaciones Pasadas</h3>
            {% for post in posts %}
                <article class="escrito-gallery-posts-container">
                    <img src="{{post.image.url}}" alt="imagen post">
                    <p>{{post.title}}</p>
                    <p>{{post.description}}</p>
                    <button class="escrito-gallery-buttons" style="margin-left: 10px;">
                        <a href="{% url 'Escrito:post_escrito' post.slug %}">Leer</a>
                    </button>
                </article>
            {% endfor %}
        </div>
    </section>
</main>
<footer>
    <section>
        <div class="footer-icons">
            <a href="https://www.instagram.com/diig_guerrero1/"><img src="{% static 'media/img/instagram_logo.png' %}" alt="Instagram" width="25"></a>
            <a href="https://github.com/diigguerrero1"><img src="{% static 'media/img/github_logo.png' %}" alt="GitHub" width="25"></a>
            <a href="https://www.linkedin.com/in/diego-guerrero-01/"><img src="{% static 'media/img/linkedin_logo.png' %}" alt="LinkedIn" width="25"></a>
        </div>
    </section>
    <p>DIIG Guerrero Productions.</p>
</footer>

{% endblock contenido %}

