{% load static %}
<!DOCTYPE html>
<html lang="es">

{% block head %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Diego Guerrero a.k.a. DIIG es pythonista de corazón, estudiante de desarrollo backend con django e intelgencia artificial con TensorFlow en Platzi. También es DJ de géneros cómo: Techno, House o elektro y también estudia producción músical de manera autodidacta.">
  
  <meta name="robots" content="index, follow">
  <title>DIIG | Bienvenido</title>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/home.css'%}" rel="stylesheet">
</head>
{% endblock head %}

{% block body %}
<body class="index-body">
{% endblock body %}
    <header>
        <section class="header-icons-container">
            <div class="icons">
                <a href="https://www.instagram.com/diig_guerrero1/"><img src="{% static 'media/img/instagram_logo.png' %}" alt="Instagram" width="25"></a>
                <a href="https://github.com/diigguerrero1"><img src="{% static 'media/img/github_logo.png' %}" alt="GitHub" width="25"></a>
                <a href="https://www.linkedin.com/in/diego-guerrero-01/"><img src="{% static 'media/img/linkedin_logo.png' %}" alt="LinkedIn" width="25"></a>
            </div>
        </section>
        <nav>
            <section class="nav-logo-container">
                <a href="{% url 'App:inicio' %}"><img src="{% static 'media/img/logo_diig_with_smile-1.png' %}" alt="Logo DIIG" width="110"></a>
            </section>
            {% block segunda_seccion_nav %}
            <section class="profile-link">
                <a href="{% url 'App:diig' %}">Biografía</a>
            </section>
            {% endblock segunda_seccion_nav %}
        </nav>
    </header>

    {% block contenido %}

    <main class="home-main">
        <section class="section-main-text">
            <p class="home-main-text">Bienvenidos a este espacio singular</p>
            <p class="home-main-text">¿Qué deseas ver hoy?</p>
            <section class="section-main-buttons">
                <button class="home-main-buttons" style="margin: 10px;">
                <a href="{% url 'Escrito:gallery' %}">Columnas</a>
                </button>
                <button class="home-main-buttons" style="margin-left: 10px;">
                    <a href="{% url 'Multimedia:multi_gallery' %}">Sets</a>
                </button>
            </section>
        </section>
    </main>

    {% endblock contenido %}

</body>
</html>